body {
  background-color: var(--color-background-page);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}

h1 {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  padding: 10px;
  font-family: 'Playfair Display', serif;
}

a {
  color: var(--color-link);
}

ul {
  margin-bottom: 20px;
}
